tmp
log
config/database.yml
vendor/gems/hpricot-0.8.2/ext/fast_xs/Makefile
vendor/gems/hpricot-0.8.2/ext/fast_xs/*.bundle
vendor/gems/hpricot-0.8.2/ext/fast_xs/*.o
vendor/gems/hpricot-0.8.2/ext/fast_xs/*.log
vendor/gems/hpricot-0.8.2/ext/hpricot_scan/Makefile
vendor/gems/hpricot-0.8.2/ext/hpricot_scan/*.dSYM
vendor/gems/hpricot-0.8.2/ext/hpricot_scan/*.o
vendor/gems/hpricot-0.8.2/ext/hpricot_scan/*.bundle
vendor/gems/hpricot-0.8.2/ext/hpricot_scan/*.log
vendor/gems/hpricot-0.8.2/lib/*.bundle
vendor/gems/hpricot-0.8.2/lib/*.bundle
vendor/gems/nokogiri-1.4.1/ext/nokogiri/Makefile
vendor/gems/nokogiri-1.4.1/ext/nokogiri/*.dSYM
vendor/gems/nokogiri-1.4.1/ext/nokogiri/*.log
vendor/gems/nokogiri-1.4.1/ext/nokogiri/*.bundle
vendor/gems/nokogiri-1.4.1/ext/nokogiri/*.o
vendor/gems/nokogiri-1.4.1/lib/nokogiri/*.bundle
